body {
  font-family: 'Inter', sans-serif;
}

.first-faq {
  background: linear-gradient(165deg,#023e8a,#0077b6);
  padding-top: 20px;
}

.div-top {
  /* background-color: #000; */
  border-radius: 1px solid #222;
  /* min-height: 900px; */
  min-height: 900px;
  height: auto;
  padding-bottom: 1.5rem;
  width: 65%;
  margin: auto;
  align-items: center;
}

@media screen and (max-width:420px) {
  .div-top {
    width: auto;
  }
}

.top-page {
  margin: 0px;
  /* height: 100vh; */
}

.faq {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* background: #121212;
   */
}

.faq-item .header {
  color: white;
  display: flex;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 24px;
  align-items: center;
  margin: 20px;
  height: 70px;
  /* width: 90%; */
  background: #012c64;
  /* background-color: white; */
  border-radius: 8px;
  justify-content: space-between;
}

.faq-item h3 {
  font-size: 16px;
  align-items: center;
}

.on-click {
  display: flex;
  flex-direction: column;
}

.faq-item button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.faq-item p {
  background-color: #023e8a;
  color: rgb(243, 241, 241);
  padding: 20px 15px;
  font-size: 16px;
  /* border: 0.01rem solid #999; */
  border-radius: 8px;
  margin: 20px 20px 0px 20px;
}

/* About section  */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  /* background-color: #fff; */
  background: linear-gradient(4deg,#023e8a,#0077b6);  
  color: white;
  padding: 0 10px;
  padding-top: 80px;
  padding-bottom: 40px;
}

.about-section .about-title {
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -5px;
}

.about-section .about-description {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  width: 65vw;
}

a {
  color: #000;
}

.about-section .login-btn {
  cursor: pointer;
  margin-top: 50px;
  font-weight: 500;
  font-size: 18px;
  background-color: #023578;
  color: white;
  border-radius: 10px;
  padding: 15px 42px;
  border: 0.5px solid #b5c7dc;
  box-shadow: 0 0 20px 0 rgba(181, 199, 220, 0.4);
}

.login-btn:hover {
  background-color: #022451;
}





/* .buttom {
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.buttom .btn {
  all: unset;
  padding: 6px 16px;
  height: 32px;
  border: 1px solid black;
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 400;
  width: 100px;
  align-items: center;
}

.buttom .btn:hover {
  background: Black;
  color: #fff;
} */